*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--fontRale:'Raleway', sans-serif;
--fontMochy: 'Mochiy Pop One', sans-serif;
}

header{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);  
    margin-bottom: 54px;
}

.div_header{
    
    display: flex;
    justify-content: space-between;
    padding: 30px 0 ;  
}

header a {
    font-family: var(--fontRale);
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.link_cadastro {
    margin-left: 20px;
    color: #FF6E22;
}


/* section pet ideal */

.container_pet{
    width: 1200px;
    margin: 0 auto;
}

.p_btn{
    
    font-family: var(--fontRale);   
}

.dogs{
    display: flex;
}

.auau{
    display: flex;
    gap: 20px;
}

.dogs>div{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p1{
    font-size:46px;
    font-weight: 700;
}

.p2{
    font-size: 22px;
    font-weight: 500;
    margin: 85px 0 50px;
}

.p_btn a{
    font-family: var(--fontMochy);
    font-size: 20px;
    color: #F5F5F5;
    text-decoration: none;
    background-color: #FF9922;
    padding: 15px 30px;
    border-radius: 10px;
}